@model Cart

<span>
    @if (Model.Lines.Any())
    {
        <small class="navbar-text">
            <b>
                Twój koszyk:
            </b>
            @Model.Lines.Sum(x => x.Quantity) produkt(y)
            @Model.ComputeTotalValue().ToString("C")
        </small>
    }
    
    <a class="btn btn-sm btn-secondary navbar-btn"
       asp-controller="Cart" asp-action="Index"
       asp-route-returnurl="@ViewContext.HttpContext.Request.PathAndQuery()">
        <i class="fa fa-shopping-cart"></i>
    </a>
</span>