@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Błąd</title>
    <link rel="stylesheet" href="~/css/site.min.css" />
</head>
<body>
    <h2 class="text-danger">Ooops..</h2>
    <h3 class="text-info">
        Wystąpił błąd podczas przetwarzania żądania.
        Jeśli coś poszło nie tak, skontaktuj się z administratorem strony.
    </h3>
</body>
</html>