<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TyreShop</title>
    <link rel="stylesheet" href="~/css/site.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>
<body style="margin-bottom: 5rem">
    <div class="navbar navbar-inverse bg-inverse" role="navigation">
        <div class="row">
            <a class="col navbar-brand" href="#">Tyre Shop</a>
            <div class="col d-inline text-right">
                @await Component.InvokeAsync("CartSummary")

                @if (User?.Identity?.IsAuthenticated ?? false)
                {
                    if (User?.Identity?.Name == "Admin")
                    {
                        <a class="btn btn-sm btn-primary p-1" asp-action="Login" asp-controller="Account">
                            Panel administracyjny
                        </a>
                    }

                    <a class="btn btn-sm btn-primary p-1" asp-action="Logout" asp-controller="Account">
                        Wyloguj
                    </a>
                }
                else
                {
                    <a class="btn btn-sm btn-primary" asp-action="Login" asp-controller="Account">
                        Zaloguj
                    </a>
                }
            </div>
        </div>
    </div>
    <div class="row m-1 p-1">
        <div id="categories" class="col-3">
            @await Component.InvokeAsync("NavigationMenu")
        </div>
        <div class="col-9">
            @RenderBody()
        </div>
    </div>

    <footer class="card-footer text-center"
            style="position: fixed; bottom: 0; width: 100%;">
        <div class="container">
            <span class="text-muted">
                &copy; 2021 - Tyre Shop

            </span>
        </div>
    </footer>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/site.min.js"></script>
</body>
</html>
